
body{
background-color: #b0e0e6;
background: #ede4c5 url('locandina.jpg') repeat 0 0;	
}

.container {
  height: 400px;
  width: 35%;
  background-color: #ffffff;
  margin: 2%;
  border: 20px yellow;
}

.tab td,th{
background-color: white;
padding: 3px;
}
.tab{
	border-collapse: collapse;
}
.erreur{
	color: #cd853f;
}
.grasvert{
color: green;
font-size: 30px;
}

p {
  line-height: 1.2;
}
